# Week 1 Intro - Assignments

In [1]:
import pandas as pd
import numpy as np

## Question 1
What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

In [2]:
np.__version__

'1.19.5'

## Question 2
What's the version of Pandas?

In [3]:
pd.__version__

'1.3.2'

## Getting the data
For this homework, we'll use the same dataset as for the next session - the car price dataset.

Download it from [here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

You can do it with wget:
```
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
```
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [4]:
import wget
wget.download('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

100% [..........................................................................] 1475504 / 1475504

'data.csv'

In [5]:
data = pd.read_csv('data/data.csv')
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 3
What's the average price of BMW cars in the dataset?

In [6]:
bmw = data[data['Make'] == "BMW"]

In [7]:
bmw.MSRP.mean()

61546.76347305389

## Question 4
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [8]:
year_2015 = data[data['Year'] >= 2015]
year_2015['Engine HP'].isnull().sum()

51

## Question 5
* Calculate the average "Engine HP" in the dataset.
* Use the `fillna` method and to fill the missing values in "Engine HP" with the mean value from the previous step.
* Now, calcualte the average of "Engine HP" again.
* Has it changed?
Round both means before answering this questions. You can use the `round` function for that:
```
print(round(mean_hp_before))
print(round(mean_hp_after))
```

In [9]:
mean_hp_before = data['Engine HP'].mean()
mean_hp_before

249.38607007176023

In [10]:
data['Engine HP'].fillna(mean_hp_before).mean()

249.38607007176

In [11]:
data['Engine HP'].fillna(0).mean()

247.94174920261878

## Question 6
* Select all the "Rolls-Royce" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
* Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 7 rows).
* Get the underlying NumPy array. Let's call it `X`.
* Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
* Invert `XTX`.
* What's the sum of all the elements of the result?

Hint: if the result is negative, re-read the task one more time

In [12]:
rolls_royce = data[data["Make"] == "Rolls-Royce"]
rolls_royce_feats = ["Engine HP", "Engine Cylinders", "highway MPG"]

In [13]:
rolls_royce[rolls_royce_feats].drop_duplicates()

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [14]:
X = rolls_royce[rolls_royce_feats].drop_duplicates().to_numpy()

In [15]:
X.T

array([[325., 563., 563., 563., 322., 453., 624.],
       [  8.,  12.,  12.,  12.,  12.,  12.,  12.],
       [ 15.,  19.,  21.,  20.,  15.,  19.,  21.]])

In [16]:
XTX = np.dot(X.T, X)
XTX

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

In [17]:
inverse_XTX = np.linalg.inv(XTX)
inverse_XTX.sum()

0.032212320677486125

## Question 7
* Create an array `y` with values `[1000, 1100, 900, 1200, 1000, 850, 1300]`.
* Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
* What's the value of the first element of `w`?.

> Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [18]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]

In [19]:
w = np.dot(inverse_XTX, X.T) * y

In [20]:
w[0].sum()

0.19989598183188972